<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(Layout.MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Nie znaleziono</PageTitle>
        <LayoutView Layout="@typeof(Layout.MainLayout)">
            <p role="alert" class="p-4">Przepraszamy, nie ma takiej strony pod tym adresem.</p>
        </LayoutView>
    </NotFound>
</Router>